html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
footer{
    margin-left: 45%;
    color: grey;
    margin-top: 45%;
}
body { 
    height: 100vh;
    background: #151519;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    background: none;
    color: #ccc;
    width: 240px;
    height: 40px;
    border: 1px solid rgba(42, 38, 230, 0.882);
    font-size: 18px;
    border-radius: 20px;
    transition: .6s;
    overflow: hidden;
}

button:focus{
    outline:none;

}

button::before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-130px) skewX(-15deg);
}

button::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) skewX(-15deg);
}

button:hover{
    background: rgba(42, 38, 230, 0.882);
    cursor: pointer;
}

button:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

button:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}











